* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.page {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'News Cycle', sans-serif;
}

header {
    margin: auto;
    float:left;
    width: 30%;
}
header img {
    margin: auto;
}

.col {
    text-decoration: none;
    text-align: center;
     border:solid 2px #41403E;
    align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:auto;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 10px 19px 17px -13px hsla(0,0%,0%,.2);
     /*border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
}

.col:hover{
    box-shadow:1px 6px 2px -4px hsla(0,0%,0%,.3); }

.btn-group-vertical {
    /*position: fixed;*/
    top: 50px;
}

.btn {
    background-color: #7a7a7a;
}

#search{
    height: auto;
    
}
#input {
    border: none;
    width: 80%;
}

#icon {
    height: 30px;
    float: right;
    cursor: pointer;
}

navbar {

    padding: 10px;
    right: 0;
    height: auto;
    margin: auto;
    float:right;
}

.nav {
    cursor: pointer;
    align-content: center;
    margin:auto;
    font-size: 28px;
}

.nav .btn {
        height: 10%;
        width:auto;
        padding-left: 10%;
        margin: 10px;
        cursor: pointer;
        font-size:1em;
        letter-spacing:1px;
        outline:none;
        box-shadow: 10px 19px 17px -13px hsla(0,0%,0%,.2);
}

.nav .col  {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

aside {
    margin: 30px;
    text-align: center;
    width: 100%;
    /*margin-bottom:60px;*/
    background-color: white;
}

#jumbo {
    background-color: transparent!important;
    margin: 0;
    padding: 30 0 0 0;
}

#jumbo-h1 {
    /*font-family: 'Work Sans', sans-serif;
    
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Podkova', serif;*/
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 0.1em;
}

.menu {
    width: 20%;
    overflow: hidden;
    display: block;
    text-decoration: none;
    margin: 10px;
    float:left;
}


.menuresponsive a {
    float: none;
    display: block;
    text-align: left;
}

.menu .btn {
    width:100%;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.menu .icon {
    display: none;
}
.menuresponsive a {
    float: none;
    display: block;
    text-align: left;
}

#container {
    margin-right: 5%;
    margin-bottom: 20px;
    width: 65%;
    height: auto;   
    float: left;
    color: black;
    height: 100%;
    order:5;
}
#containerprofile {
    margin: auto;
    width: 65%;
    height: auto;   
    color: black;
    height: 100%;
    order:5;
}

article {
    border:solid 2px #41403E;
    align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:3px 1rem;
      transition:all .5s ease;
      color:#41403E;
      outline:none;
      box-shadow: 10px 19px 17px -13px hsla(0,0%,0%,.2);
      /*border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
}

article h3 {
    cursor: pointer;
}
.articleimg {
    margin: auto;
    width: 350px;
    display: block;
    margin: 20 auto;
}
.sivut
{
    margin-bottom: 20px;
}

footer {
    margin: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #7a7a7a;
    color: white;
    text-align: center;
    position: fixed;
}
#footer-p {
    margin-top: 10px;
}
#footer-a {
    color: #ff794c;
}
#footer-a:hover {
    cursor: pointer;
    color: #a82a00;
}

.box {
    
}
head {
    display: inline-block;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        margin: 0;
    }
    header {
        width: 100%;
        height: auto;
        margin:auto;
        order: 2;
        display: block;
    }
    header img {
        margin: auto;
        width: 75%;
        display: block;
    }   
    navbar {
        order:1;
        width: 100%;
    }
    
    .nav a {
        height: auto;
        width: 100%;
        font-size: 12px;
        border: box-shadow: 10px 19px 17px -13px hsla(0,0%,0%,.2);
    }
    
    aside {
        order: 3;
        height: auto;
        padding: 0;
        margin:auto;
    }
    
     #container {
        width:100%;
        float: left;
        right: 0;
        overflow: auto;
        order:5;
    }
    
    .menu {
        order: 4;
        height: auto;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .menuresponsive {
        position:relative;
        order: 4;
    }
    .menuresponsive .icon {
        position: absolute;
        text-decoration: none;
        display: block;
        right: 0;
        top: 0;
        color: black;
    }
    .menuresponsive a {
        float: none;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .menu a:not(:first-child) {
        display: none;
    }
    .menu a.icon {
        float: right;
        text-decoration: none;
        display: inline-block;
        color: black;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
      width: 100%;
      margin: 0;
  }
    .menu, aside {
        width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
        display: block;
        vertical-align: middle;
    }
    header {
        width: 100%;
        height: auto;
        margin:auto;
        order: 2;
        display: block;
    }
    header img {
        display: block;
        margin:auto;
    }
  
    navbar {
        padding: 10px;
        right: 0;
        width: 100%;
        height:auto;
        padding-bottom: 20px;
        margin: auto;
        order: 1;
    }
    
    .nav a {
        height: auto;
        font-size: 20px;
        width: 50%;
    }
   
    #container {
        width:100%;
        float: left;
        right: 0;
        overflow: auto;
        order:5;
    }
    article {
        width: 100%;
        float:left;
    }
    aside {
        order: 3;
        height: auto;
        padding: 0;
    }
    
    .menu {
        order: 4;
        height: auto;
        width: 100%;
        align-content: center;
       
    }
    
    .menuresponsive {
        position:relative;
        order:4;
        width:100%;
        margin:20px;
    }
    .menuresponsive .icon {
        position: absolute;
        text-decoration: none;
        color:black;
        right: 0;
        top: 0;
        padding-right: 10px;
    }
    .menuresponsive a {
        float: none;
        text-decoration: none;
        display: block;
        text-align: center;
        
        letter-spacing: 0.1em;
        
    }
    .menu a:not(:first-child) {
        display: none;
    }
    .menu a.icon {
        float: right;
        text-decoration: none;
        display: block;
        color: black;
    }
   
    
}